.wrapper {
  margin-bottom: 20px;
}
.title {
  font-weight: 600;
  font-size: 18pt;
  color: #f92121;
}
.status {
  font-weight: 600;
  font-size: 36pt;
  padding: 20px 60px;
  border: 1px solid black;
  display: inline-block;
}
